:root{
    /*Colors*/
    --green: rgb(4,116,128);
    --description: #E2E1E1;
    --text-input: #727272;
    --button: #E25416;
}

.imc{
    display: grid;
    grid: "incentivo calcular";
    grid-template-columns:  1fr 1fr;
    grid-template-rows: 350px;
    max-width: 1200px;
    margin: 50px auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.incentivo{
    display: flex;
    flex-direction: column;
    background-color: var(--description);
    padding: 50px;
    justify-content: space-around;
    grid-area: incentivo;
    font-size: 20px;
}
.incentivo h2{
    color: var(--green);
}
.incentivo p{
    font-size: 12px;
}

.calcular{
    display: flex;
    flex-direction: column;
    background-color: var(--green);
    padding: 50px;
    justify-content:space-around;
    font-size: 25px;
    grid-area: calcular;
}

.calcular p{
    font-size: 16px;
    font-weight: 900;
    color: var(--description);
    line-height: 25px;
}

.calcular .text input{
    width: 230px;
    height: 35px;
    background-color: var(--description);
    border: none;
    color: var(--text-input);
    padding-left: 10px;
    font-weight: 700;
}

.calcular .botao input{
    background-color: var(--button);
    color: var(--description);
    width: 130px;
    height: 30px;
    font-size: medium;
    font-weight: 700;
    border: none;
}

.painel{
    display: flex;
    flex-direction: column;
    background-color: var(--description);
    padding: 50px;
    justify-content: space-between;
    grid-area: incentivo;
}

.painel h2{
    color: var(--green);
    margin: 10px 0;
    font-size: 25px;
    font-weight: 100;
}
.painel .resultado-peso{
    font-weight: 700;
}
.painel p{
    font-size: 12px;
    line-height: 25px;
}

.display{
    display: none;
}

@media (max-width: 700px) {
    .imc{
        display: flex;
        flex-direction: column;
    }

    .incentivo{
        padding: 30px;
        font-size: 20px;
    }

    .calcular{
        padding: 30px;
        justify-content:space-around;
        font-size: 25px;
    }
    
    .calcular p{
        font-size: 14px;
        font-weight: 600;
        line-height: 18px;
    }

    .calcular .text input{
        width: 90px;
        height: 35px;
        margin-right: 10px;
        margin-bottom: 10px;
    }
    
    .calcular .botao input{
        width: 90px;
        font-size: small;
    }
    .painel{
        padding: 30px;
    }
}